body {
    text-align: center;
    
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn {
    height: 200px;
    width: 200px;
    border-radius: 20px;
    border: 10px solid black;
    margin: 2.5rem;
}

.red {
    background-color: #df4170;
}

.yellow {
    background-color: #f99b45;
}

.blue {
    background-color: #819ff9;
}

.green {
    background-color: #63aac0;
}

.flash {
    background-color: white;
}

.userflash {
    background-color: green;
}

.gameover{
    background-color: red;
}